include README.md
include LICENSE
include pyproject.toml
include setup.py

recursive-include csrc *.cu *.cpp *.h *.cuh
recursive-include python/robocache *.py
recursive-include tests *.py

exclude .github/*
exclude .gitignore
exclude bench/*
exclude scripts/*
exclude docker/*
exclude artifacts/*
